@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --branco:#FFFFFF;
    --branco-fundo:#F3F5FC;
    --azul:#0A3871;
    --fonte-padrao: 'Inter';
    --cinza-escuro: #343A40;

}

body{
    background: var(--branco-fundo);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 400;
}
.cabecalho{
    display: flex;
}
.logo-alura{
    margin:24px 0 0 16px;
}

.principal{
    box-sizing: border-box;

    margin: 80px 0 0 0;
    padding: 0 16px;

}

.principal__decodificar{
    background: var(--branco-fundo);
    border: none;
    box-sizing: border-box;
    font-size: 32px;
    color: var(--azul);
    width: 100%;
    
    /* height: 300px; */
}
.principal__aviso__container{
    display: flex;
    margin: 16px 0;
    align-items: center;
    gap: 1px;

}
.principal__aviso{
    font-size: 12px;
    color: var(--cinza-escuro);
}
.botao{
    display: block;
    text-align: center;
    margin: auto;
    padding: 1em 1em;
    text-decoration: none;
    border: solid 1px var(--azul);
    margin-bottom: 1em;
    border-radius: 24px;
    
}
.botao__azul{
    color: var(--branco);
    background: var(--azul);

}
.botao__branco{
    color: var(--azul);
    
}
.principal_container_descodificado{
    margin: 0 15px 40px 15px;
    border-radius: 32px;
    padding: 15px;
    background: var(--branco);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.principal__titulo__aviso{
    font-weight: 700;
    font-size: 24px;
    color: var(--cinza-escuro);
    text-align: center;
    margin-bottom: 1em;

}
.principal__texto__aviso{
    text-align: center;
    color: var(--cinza-escuro);

}
.principal__resultado{
    background: var(--branco);
    padding: 10px;
    display: none;
    margin: 24px 16px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.txt_resultado{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    font-size: 24px;
    color: var(--azul);
    width: 100%;
    border: none;
    rows:auto;
    

}

.botao_copiar{
    color: var(--azul);
}
