@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --branco:#FFFFFF;
    --branco-fundo:#F3F5FC;
    --azul:#0A3871;
    --fonte-padrao: 'Inter';
    --cinza-escuro: #343A40;

}

body{
    background: var(--branco-fundo);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 400;
}
.cabecalho{
    display: flex;
}
.logo-alura{
    margin:24px 0 0 16px;
}

.principal{
    box-sizing: border-box;

    margin: 80px 0 0 0;
    padding: 0 16px;

}

.principal__decodificar{
    background: var(--branco-fundo);
    border: none;
    box-sizing: border-box;
    font-size: 32px;
    color: var(--azul);
    width: 100%;
    
    /* height: 300px; */
}
.principal__aviso__container{
    display: flex;
    margin: 16px 0;
    align-items: center;
    gap: 8px;

}
.principal__aviso{
    font-size: 12px;
    color: var(--cinza-escuro);
}
.botao{
    display: block;
    text-align: center;
    margin: auto;
    padding: 1em 1em;
    text-decoration: none;
    border: solid 1px var(--azul);
    margin-bottom: 1em;
    border-radius: 24px;
    
}
.botao__azul{
    color: var(--branco);
    background: var(--azul);

}
.botao__branco{
    color: var(--azul);
    
}
.principal_container_descodificado{
    margin: 0 15px 40px 15px;
    border-radius: 32px;
    padding: 15px;
    background: var(--branco);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.principal__titulo__aviso{
    font-weight: 700;
    font-size: 24px;
    color: var(--cinza-escuro);
    text-align: center;
    margin-bottom: 1em;

}
.resultado__pessoa{
    display: none;
}
.principal__texto__aviso{
    text-align: center;
    color: var(--cinza-escuro);

}
.principal__resultado{
    background: var(--branco);
    padding: 10px;
    display: none;
    margin: 24px 16px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    flex-direction: column;

}

.txt_resultado{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
    font-size: 24px;
    color: var(--azul);
    width: 100%;
    border: none;
    rows:auto;
    

}

.botao_copiar{
    color: var(--azul);
    width: 90%;
}


@media (min-width: 768px){
    .logo-alura{
        margin:75px 0 0 40px;
    }
    .principal__decodificar{
        height: 600px;
    }

    .principal__botoes_container{
        display: flex;
        gap: 8px;
        margin-bottom: 64px;
        
    }
    .botao__branco,.botao__azul{
        flex-grow: 50;
        padding: 24px;
        
    }
}

@media (min-width: 1440px){
    .logo-alura{
        position: absolute;
        left: 84px;
        top:40px;
    }
    .programa{
        display: flex;
        justify-content: space-around;
        gap: 80px;
    }
    .programa__txt_botoes{
        margin: 168px 0 0 240px ;
        width: 680px;
    }
    .principal_container_descodificado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 32px;
        width: 400px;
        margin: 40px;
        height: 87%;
    }
    .resultado__pessoa{
        transition: 600ms;
        display: block;
    }

    
    .principal__botoes_container{
        gap: 24px;
        margin-bottom: 64px;
        
    }

    .txt_resultado{
        width: 400px;

    }
    .programa__txt_botoes{
        width: 80%;
        
    }
    .principal__resultado{
        height: 90%;
        flex-direction: column;
        

    }
    .botao__branco{
        transition: 500ms;
    }
    .botao__azul{
        transition: 500ms;
    }
    .botao__branco:hover {
        background: var(--azul);
        color: var(--branco);
    }
    .botao__azul:hover {
        background: var(--branco);
        color: var(--azul);
    }
}
